<head>
<!--  <link rel="stylesheet" type="text/css" href="slide navbar style.css">-->
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div cdkDrag class="main">
  <input type="checkbox" id="chk" aria-hidden="true">

  <div class="signup">
    <form>
      <label for="chk" aria-hidden="true">Sign up</label>
      <input type="text" name="txt" placeholder="User name" required="">
      <input type="email" name="email" placeholder="Email" required="">
      <input type="password" name="pswd" placeholder="Password" required="">
      <button>Sign up</button>
    </form>
  </div>

  <div class="login">
    <form>
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email" name="email" placeholder="Email" required="">
      <input type="password" name="pswd" placeholder="Password" required="">
      <button>Login</button>
    </form>
  </div>
</div>

<div class="square">
  <ul cdkDropList style=" background: white">
    <li cdkDrag  style="list-style: none; width: 500px;  height: 40px; background: black;"  class="create" *ngFor="let data of data; let i = index;">
        <p style="color: white; font-size: 14px;">{{data?.company}}</p>
    </li>
  </ul>
</div>

<div class="example-container">
  <h2>To do</h2>

  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]" class="example-list"
       (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>
<br>
<div class="example-container">
  <h2>Done</h2>

  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" class="example-list"
         (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>

</body>
